 body {
 	background-color: #8B1A89;
 }
.jumbotron {
	background-color: #551A8B;
	font-family: 'Griffy',cursive;
	padding: 20px;
	
				
}

 .m-photo{
 	margin-left: 20%;
 	
	
	
}
.m-photo h1 {
	color:black;
	font-size: 70px;
	margin-right: 30%;
	float: right;


	
}

.jumbotron p {
	color:black;
	float: right;
			
	
}

